/* général */
h1 {
    text-align: center;
}

#map-restaurant-display {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

/* filter */

#filters {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

input {
    margin-left: 3px;
    width: 35px;
}

#filterBtn {
    margin-left: 5px;
    
}

/* map */

#map {
    height: 400px;
    width: 500px;
}

/* restaurant */

#restaurants {
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    justify-content: space-around;
}

.restaurant {
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 1px;
}